mkdocs
mkdocs-material==8.3.8
mkdocs-material-extensions
mkdocs-add-number-plugin
mkdocs-awesome-pages-plugin
mkdocs-bootstrap4
mkdocs-enumerate-headings-plugin
mkdocs-git-committers-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
